flask
gunicorn==20.0.4
pandas==0.25.2
#scikit-learn==0.23.2
numpy==1.17.3
#pickle4==0.0.1

#tqdm==4.41.1
#Keras==2.4.3
#Keras-Preprocessing==1.1.2
#nltk==3.2.5
gensim==3.6.0
#fastprogress==1.0.0
https://download.pytorch.org/whl/cpu/torch-1.7.1%2Bcpu-cp36-cp36m-linux_x86_64.whl
#torch==1.7.1

#fastai==1.0.61
pytorch-pretrained-bert==0.6.2

##sys
##gc
##os 
##random 

